body{
    font-family: roboto;
}

h1{
    color: black;
    background-color: #00daa8;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-weight: 100;
}

h2{
    color: black;
    background-color: #00daa8;
    text-align: center;
    padding: 12px;
    margin: 0 0 10px 0; 
    border-radius: 12px 12px 0 0;
    font-weight: 100;
}

h3{
    text-align: center;
    padding: 12px;
    font-size: 30px;
    font-weight: 100;
 
}
.nav-list {
    
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 12px;
    font-weight: 700;
        
    
}

.nav-list a:hover {
    color:yellowgreen; 
    background-color: black; 
    text-decoration: underline; 
    border-radius: 5px; 
    font-size: 30px;
    font-weight: 100;
    
  }


a{
    color: white;
    text-decoration: none;
    align-items: center;
    width: 100%;
    font-size: 20px;
    transition: all 0.3s ease;
    


}


.header-name{
    color: blue;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 100%;
    margin: 0 auto;
}

.about-me{

    display: flex;
    margin: 15px;
}

.pro-pic{
    width: 300px;
}

.web-res{
    
    align-content: center;
}

.web-res a {
    color: black;
    text-decoration: none;
    align-items: center;
    font-size: 25px;
    width: 400px;
    transition: all 0.3s ease;
}


.web-res a:hover {
    color:blue; 
    text-decoration: underline; 
    border-radius: 5px; 
    font-size: 30px;
    font-weight: 700;
    
  }

.card{
    border: solid 1px grey;
    margin: 10px;
    border-radius: 12px;
}
.contry{
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.flag{
    width: 400px;
    margin: 10px;
}

footer{
    text-align: center;
    color: black;
    background-color: #00daa8;
    padding: 20px;
    font-size: 40px;
}

.descr{
    font-size: 30px;
}

hr{
    width: 75%;
}

.wrl{
    align-items: center;
    margin-top: 400px;
}

.flag-infor{
    text-align: center;
    font-style: italic;
}

#lastModified{
    color: black;
}

/*
.wr{
    color: black;
    text-decoration: none;
    align-items: center;
    width: 100%;
}
/